<!-- Section Start -->
<section class="section">

    <!-- Header Title -->
    <h1 class="section-subtitle">Room Details</h1>

    <!-- Breadcrumb -->
    <nav class="breadcrumb">
        <ul>
            <li><a [routerLink]="['/index']">Home</a></li>
            <li><a [routerLink]="['/rooms']">Rooms</a></li>
            <li>Room Details</li>
        </ul>
    </nav>

    <!-- Room Details-->
    <div class="room-details" *ngIf="roomDetails">
        <h4 class="room-title">{{roomDetails.roomType}}</h4>
        <div class="room-content">
            <img [src]="roomDetails.roomImage" alt="" class="room-image"/>
            <ul class="room-info">
                <li><strong>Room Number:</strong>{{roomDetails.roomNumber}}</li>
                <li><strong>Room Price:</strong>${{roomDetails.price}}/Per night </li>
                <li><strong>Room Capacity:</strong>Max persion {{roomDetails.capacity}}</li>
                <li><strong>Room Bed:</strong>{{roomDetails.bedType}}</li>
                <li><strong>Room Size:</strong>{{roomDetails.size}} ft</li>
                <li><strong>Room Status:</strong>{{roomDetails.status}}</li>
                <li><strong>Room Services:</strong>{{roomDetails.services}}</li>
                <li><strong>Room Rating:</strong> ⭐⭐⭐⭐</li>
            </ul>
        </div>
        <p class="room-description"><strong>Room Description:</strong>{{roomDetails.description}}</p>
        <div class="button-group">
            <button class="btn-primary">Book Now</button>
        </div>
    </div>
    <!-- End of Room Details -->
</section>
<!-- End of Section -->