<section class="section">

    <h1 class="section-subtitle">Contact Us</h1>

    <!-- Breadcrumb -->
    <nav class="breadcrumb">
        <ul>
            <li><a routerLink="/index">Home</a></li>
            <li>Contact</li>
        </ul>
    </nav>

    <div class="contact-container">
        <!-- Contact Form -->
        <form class="contact-form">
            <h2>We'd love to hear from you!</h2>

            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="message">Message:</label>
            <textarea id="message" rows="5" name="message" required></textarea>

            <button type="submit" class="btn-submit">Send Message</button>
        </form>

        <!-- Contact Info -->
        <div class="contact-info">
            <h2>Contact Info</h2>
            <p class="contact-message">We are open for any suggestions or just to have a chat!</p>

            <div class="info-item">
                <img src="assets/icons/email-icon.png" alt="Email Icon" />
                <p><strong>Email:</strong> supportsuitesync&#64;.com</p>
            </div>

            <div class="info-item">
                <img src="assets/icons/phone-icon.png" alt="Phone Icon" />
                <p><strong>Phone:</strong> +1 234 567 890</p>
            </div>

            <div class="info-item">
                <img src="assets/icons/address-icon.png" alt="Location Icon" />
                <p>
                    <strong>Address:</strong> 123 Luxury Street, New York, NY, USA <br>
                    <strong>Opening Hours:</strong> Mon - Fri: 9:00 AM - 6:00 PM <br>
                    Sat - Sun: Closed.
                </p>
            </div>
        </div>
    </div>
</section>