<nav class="navbar">
    <div class="container">
        <a class="logo">SuiteSync</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Rooms</a>
            </li>
            
            <div class="navbar-right">
                <div class="user-menu">
                    <img src="assets/users/Fikile.jpg" alt="User" class="user-avatar" (click)="toggleMenu()" />
                    <ul class="dropdown-menu" [class.show]="menuOpen">
                        <li>Profile</li>
                        <li>Settings</li>
                        <li (click)="logout()">Logout</li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</nav>