<!-- Normal Navbar Start-->
<nav class="navbar" *ngIf="!isAuthPage && !isAdmin" >
    <!-- Main Container -->
    <div class="container">
        <!-- Logo -->
        <a class="logo">SuiteSync.</a>
        <!-- Navigation Menu  -->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/index">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/rooms">Rooms</a>
            </li>
            
            <li class="nav-item dropdown" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="toggleDropdown()">Bookings
                    <span class="arrow" [class.open]="isDropdownOpen">&#9662;</span>
                </a>
                <ul class="dropdown-menu" [class.show]="isDropdownOpen">
                    <li><a class="dropdown-item" routerLink="/view-booking">My Bookings</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">Services</a>
            </li>

            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>

            <li>
                <button *ngIf="!isLoggedIn" type="submit" (click)="goToLogin()">Login</button>
            </li>
            <li class="nav-item">
                <a routerLink="/register" *ngIf="!isLoggedIn" class="nav-link">Sign Up</a>
            </li>

            <div class="navbar-right">
                <div *ngIf="isLoggedIn" class="user-menu">
                    <img src="assets/users/Fikile.jpg" alt="User" class="user-avatar" (click)="toggleMenu()"/>
                    <ul class="user-dropdown-menu" [class.show]="menuOpen">
                        <li>Profile</li>
                        <li (click)="logout()">Logout</li>
                    </ul>
                </div>
            </div>
        </ul>
        <!-- End of Navigation Menu  -->
    </div>
</nav>
<!-- End of Normal Navbar -->

<!-- Admin Navbar -->
<!-- Admin Navbar -->
<section *ngIf="!isAuthPage && isAdmin">
    <nav class="admin-navbar">
        <div>
            <a href="#" class="admin-logo">SuiteSync. Dashboard</a>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-menu">
            <a class="sidebar-link" routerLink="/dashboard">Dashboard</a>
            <a class="sidebar-link" routerLink="/rooms-admin">Room Management</a>
            <a class="sidebar-link" routerLink="/room-availability">Room Availability</a>
            <a class="sidebar-link" routerLink="/manage-bookings">Booking Management</a>
            <a class="sidebar-link" routerLink="/manage-guests">Guest Management</a>
            <a class="sidebar-link">Financial Insights</a>
            <a class="sidebar-link">Analytics & Reports</a>
            <a class="sidebar-link">Notifications & Alerts</a>
            <a class="sidebar-link" (click)="logout()">Logout</a>
        </div>
    </div>
</section>
<!-- End of Admin Navbar -->