@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    margin-left: 120px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.description-group {
    grid-column: span 2;
}

textarea {
    width: 91%;
    min-height: 100px;
    font-size: 12px;
    animation: slideIn 1.5s ease-in-out forwards;
}

.form-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.btn-primary {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #BA55D3;
    font-size: 1rem;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    animation: slideIn 1.8s ease-in-out forwards;
}

.btn-primary:hover {
    background-color:  #DA70D6;
}

h1{
   
    font-family: "Poppins", sans-serif; 
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #BA55D3;
    animation: slideIn 0.8s ease-in-out;
}

label{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    font-family: "Poppins", sans-serif; 
    font-size: 0.8rem;
    color: #333;
    animation: slideIn 1.2s ease-in-out;
}

input{
    width: 400px;
    height: 4px;
    padding: 14px;
    font-size: 12px;
    border: 1.5px solid #ddd;
    margin: 5px 0 10px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    animation: slideIn 1.5s ease-in-out forwards;
}

.select-box {
    height: 35px;
    width: 430px;
    margin-bottom: 5px;
    animation: slideIn 1.5s ease-in-out forwards;
}

input:focus,
.select-box:focus,
textarea:focus{
    color: #495057;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(105, 90, 166, 0.5);
    border-color: #b4add3;
    background-color: rgba(0, 0, 0, 0.03);
}

input:hover,
.select-box:hover,
textarea:hover{
    border-color: #b4add3;
}

small{
    color: #d9534f;
    margin-top: 5px;
    font-size: 0.85rem;
}

.section {
    padding: 100px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section-subtitle {
    text-align: center;
    color: #BA55D3;
    margin: 1.5rem 0;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif; 
    animation: slideIn 0.8s ease-in-out;
}

.alert-danger,
.alert-success {
    opacity: 1;
    transition: opacity 0.3s ease;
    max-width: 100%;
    border-radius: 0.2857rem;
    text-align: center;
    margin-top: 10px;
    justify-content: flex-end;
    margin-left: 350px;
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.breadcrumb {
    margin: 1rem 0 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    text-decoration: none;
    color:  #BA55D3;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color:  #DA70D6;
    cursor: pointer;
}

.breadcrumb li:not(:last-child)::after {
    content: '>';
    margin: 0 0.5rem;
    color: #6c757d;
}

.image-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.room-image {
    width: 330px;
    height: 110px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    margin: 20px 0;
}

mat-spinner{
    --mat-sys-primary:  #BA55D3;   
}

