<!-- Section Start-->
<section class="section">
    <!-- Title -->
    <h1 class="section-subtitle">Room Booking Overview</h1>

    <!-- Breadcrumb -->
    <nav class="breadcrumb">
        <ul>
             <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
             <li>Bookings</li>
        </ul>
   </nav>

    <!-- Main Container Start -->
    <div>
        <!-- Table Start-->
        <table class="content-table">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Guest Name</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let booking of bookings | sortByDate: 'checkIn'">
                <tr>
                    <td>{{booking.room.roomNumber}}</td>
                    <td>{{booking.guest.name}}</td>
                    <td>{{booking.checkIn}}</td>
                    <td>{{booking.checkOut}}</td>
                    <td>{{booking.status}}</td>
                    <td>
                        <button (click)="goToViewBooking(booking.id)">View More</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of Table-->
    </div>
    <!-- End of Main Container -->
</section>
<!-- End of Section -->

