<!-- Section Start-->
<section class="section">
    <!-- Title -->
    <h1 class="section-subtitle">Guests Overview</h1>
    <!-- Main Container Start -->
    <div>
        <!-- Table Start-->
        <table class="content-table">
            <thead>
                <tr>
                    <th>Guest Name</th>
                    <th>Guest Email</th>
                    <th>Phone Number</th>
                    <th>Guest Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let guest of guests">
                <tr>
                    <td>{{guest.name}}</td>
                    <td>{{guest.email}}</td>
                    <td>{{guest.phone}}</td>
                    <td>{{guest.address}}</td>
                    <td>
                        <button (click)="goToGuestDetails(guest.uid)">View More</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of Table-->
    </div>
    <!-- End of Main Container -->
</section>
<!-- End of Section -->


