<!-- Section Start-->
<section class="section">
    <!-- Title -->
    <h1 class="section-subtitle">Guests Overview</h1>
    <!-- Main Container Start -->
    <div>
        <!-- Table Start-->
        <table class="content-table">
            <thead>
                <tr>
                    <th>Guest Name</th>
                    <th>Guest Email</th>
                    <th>Phone Number</th>
                    <th>Guest Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>johndoegmail.com</td>
                    <td>+ (123) 456-789</td>
                    <td>12345 Fake ST NoWhere AB Country</td>
                    <td>
                        <button (click)="goToGuestDetails()">View More</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of Table-->
    </div>
    <!-- End of Main Container -->
</section>
<!-- End of Section -->


