@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

h1 {
    margin: 0;
    padding-top: 20%;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Baloo Paaji", cursive;
    animation: fadeIn 2s ease-in-out, moveDown 2s ease-in-out;
}

p {
    font-size: 1.5rem;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out 0.5s, moveUp 2s ease-in-out 0.5s;
}

.home-container {
    position: relative;
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.home-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: scaleImage 10s infinite alternate ease-in-out;
}

.content {
    position: relative;
    height: 100%;
    text-align: center;
    color: #fff;
}

.section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 1px;
    animation: fadeIn 1.5s ease-in-out;
}

input,
.select-box {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: none;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input {
    height: 25px;
}

.select-box {
    height: 35px;
}

input:focus,
.select-box:focus {
    outline: none;
    border-color: #BA55D3;
    box-shadow: 0 0 8px rgba(186, 85, 211, 0.5);
}

input:hover,
.select-box:hover {
    border-color: #BA55D3;
}

.action-button {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.btn-primary {
    background-color: #BA55D3;
    border: none;
}

.btn-primary:hover {
    background-color: #DA70D6;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(186, 85, 211, 0.3);
}

.btn-secondary {
    background-color: #fff;
    border: 2px solid #BA55D3;
    color: #BA55D3;
}

.btn-secondary:hover {
    background-color: #BA55D3;
    color: #fff;
    border: none;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(218, 112, 214, 0.3);
}

.chatbot {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 300px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.chat-header {
    background-color: #BA55D3;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.chat-body {
    display: none;
    flex-direction: column;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.chat-messages {
    height: 250px;
    overflow-y: auto;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#chat-input {
    width: 100%;
    padding: 8px;
    border: none;
    border-top: 1px solid #ddd;
    outline: none;
}
