<section class="section">
    <h1 class="section-subtitle">Our Rooms</h1>

    <!-- Breadcrumb -->
    <nav class="breadcrumb">
        <ul>
            <li><a>Home</a></li>
            <li><a>Profile Details</a></li>
            <li>Edit Profile</li>
        </ul>
    </nav>


    <form [formGroup]="editProfileForm" (ngSubmit)="onEditProfile()" class="edit-card">

        <!-- Name -->
        <div>
            <label for="fname">Full Name:</label>
            <input id="fname" formControlName="fname" type="text" placeholder={{guestDetails?.name}} aria-label="Name" />
            <div *ngIf="editProfileForm.get('fname')?.touched">
                <small *ngIf="editProfileForm.get('fname')?.errors?.['required']">*Name is required!</small>
            </div>
        </div>

        <!--Email -->
        <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email" type="email" placeholder={{guestDetails?.email}}
                aria-label="Email" />
            <div *ngIf="editProfileForm.get('email')?.invalid && editProfileForm.get('email')?.touched">
                <small *ngIf="editProfileForm.get('email')?.errors?.['required']">*Email is required!</small>
                <small *ngIf="editProfileForm.get('email')?.errors?.['email']">*Enter valid email.</small>
            </div>
        </div>

        <!-- Phone Number -->
        <div>
            <label for="phone">Phone Number:</label>
            <input id="phone" formControlName="phone" type="text" placeholder={{guestDetails?.phone}}
                aria-label="Phone Number" />
            <div *ngIf="editProfileForm.get('phone')?.touched">
                <small *ngIf="editProfileForm.get('phone')?.errors?.['required']">*Phone Number is required!</small>
            </div>
        </div>

        <!-- Profile -->
        <div>
            <label for="profile">Profile:</label>
            <div class="profile-preview">
                <img [src]="guestDetails?.profile" alt="Profile Picture" class="profile-image" />
            </div>
            <input id="profile" formControlName="profile" type="file" (change)="handleFileInput($event)" 
                accept="image/*" aria-label="Profile Picture" />
            <div *ngIf="editProfileForm.get('profile')?.touched">
                <small *ngIf="editProfileForm.get('profile')?.errors?.['required']">*Profile Picture is
                    required!</small>
            </div>
        </div>

        <!-- Address -->
        <div>
            <label for="address">Address:</label>
            <input id="address" formControlName="address" type="text" placeholder={{guestDetails?.address}}
                aria-label="Address" />
            <div *ngIf="editProfileForm.get('address')?.touched">
                <small *ngIf="editProfileForm.get('address')?.errors?.['required']">*Address is required!</small>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn-primary">Edit Profile</button>

        <!--Success Message -->

        <div>
            <input *ngIf="isSuccessVisible" class="alert-success" placeholder={{successMessage}} />
        </div>

        <div>
            <input *ngIf="isErrorVisible" class="alert-danger" placeholder={{errorMessage}} />
        </div>

    </form>

</section>