<!-- Main Container Start -->
<div class="container">
    <!-- Form Section Start -->
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        
        <!-- Title -->
        <h1>Reset Your Password</h1>

        <!-- Email-->
        <div>
            <label for="email">Email:</label>
            <input id="email" type="text" formControlName="email" placeholder="Enter your email"/>
            <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
                <small *ngIf="resetForm.get('email')?.errors?.['required']">*Email is required!</small>
                <small *ngIf="resetForm.get('email')?.errors?.['email']">*Enter valid Email!</small>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn-primary">Reset Password</button>

        <!-- Success Message -->
         <div>
            <input *ngIf="showSuccessMessage" class="alert-success" placeholder={{successMessage}}/>
         </div>
        
        <!-- Error Message-->
        <div>
            <input *ngIf="isErrorVisible" class="alert-danger" placeholder= {{errorMessage}} />
        </div>

        <p>Remember Password?<a [routerLink]="['/login']">Sign In</a></p>
    </form>
    <!-- End Of Form -->
</div>
<!-- End of Main Container -->

