<!-- Main Content -->
<section class="section">

    <!--Title -->
    <h1 class="section-subtitle">My Bookings</h1>

    <!-- Breadcrumb -->
    <nav class="breadcrumb">
        <ul>
            <li><a [routerLink]="['/index']">Home</a></li>
            <li><a>Bookings</a></li>
            <li>My Bookings</li>
        </ul>
    </nav>

    <!-- Reservation Cards -->
    <div class="reservation-cards">
        
        <div class="card" *ngFor="let booking of bookings| sortByDate: 'checkIn'">
            <img src="assets/rooms/room-5.jpg" alt="Deluxe Room" class="card-image">
            <div class="card-content">
                <h2>Deluxe Room</h2>
                <ul class="reservation-details">
                    <li><strong>Check-In:</strong>{{booking.checkIn}}</li>
                    <li><strong>Check-Out:</strong>{{booking.checkOut}}</li>
                    <li><strong>Guests:</strong>{{booking.numberOfGuest}}</li>
                    <li><strong>Status:</strong><span class="status confirmed">{{booking.status}}</span></li>
                </ul>
                <div class="card-actions">
                    <button class="btn-primary" (click)="goToChangeBooking()">Change Booking</button>
                    <button class="btn-cancel">Cancel Reservation</button>
                </div>
            </div>
        </div>
    </div>
</section>